
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #0dcaf0; 
}

/* Smooth hover effect */
.nav-link:hover {
  color: #0dcaf0 !important;
  transition: 0.3s;
}

body {
  background-color: #000 !important;
}